<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "BossClick", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <h1>BOSS CLICK</h1>
          <p>Hacked together by <a href="https://twitter.com/madlep">@madlep</a>. Code on <a href="https://github.com/madlep/boss_click">github</a>.</p>
          <p>Made for a <a href="https://www.youtube.com/watch?v=f397kQSb_y8">talk</a> given at <a href="https://www.meetup.com/en-AU/elixir-sydney/events/gkwrtrybckbcb/">Elixir Australia</a> meetup showing off <a href="https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html">Elixir LiveView</a>.</p>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
